@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  src: url("../fonts/TTLakes-Regular.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes";
  font-weight: 500;
  src: url("../fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes";
  font-weight: 700;
  src: url("../fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "TT Lakes", sans-serif;
  background-color: #f8f8f8;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding-top: 18.59px;
  padding-bottom: 17.59px;
  background-color: #fff;
}
.header__container {
  width: 90%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__button {
  margin-right: 16px;
}
.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ff3e79;
  background-color: #ff3e79;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.3s ease;
}
.button:hover,
.button:focus {
  opacity: 0.75;
  transform: scale(0.9);
}
.logo {
  line-height: 0;
}
.navigation__logo {
  margin-right: auto;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
.navigation__list--user {
  display: none;
}
.navigation__list--last .navigation__item:first-child {
  margin-right: 16px;
}
.navigation__link {
  display: block;
  text-decoration: none;
  min-width: 40px;
  min-height: 40px;
}
.button--menu {
  position: relative;
  background-image: url(../img/menu.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.button--contacts {
  background-image: url(../img/contacts.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.button--chat {
  background-image: url(../img/chat.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.button--profile {
  background-image: url(../img/profile.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
.button--request {
  position: relative;
  background-image: url(../img/request.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.button--request::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  position: absolute;
  left: -22px;
  top: 4px;
}
.button--repair-status {
  background-image: url(../img/repair-status.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.navigation__list--last .navigation__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation__text {
  display: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: right;
  color: #1b1c21;
  font-weight: 500;
  padding: 0 9px 0 16px;
}
.main {
  position: relative;
  background-color: #f8f8f8;
  border-top: 1px solid #d9fff5;
  padding-bottom: 35px;
}
.main__title {
  max-width: 650px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin: 24px 0 24px 5%;
}
.main__title::before {
  content: "";
  width: 4px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: 0;
  background-color: #41f6d7;
}
.main__tabs {
  margin-left: 5%;
}
.tabs__list {
  display: flex;
  justify-content: stretch;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  margin: 0;
}
.tabs__list::-webkit-scrollbar {
  display: none;
}
.tabs__title {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  background-color: inherit;
  padding: 8px 17px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #7e7e82;
}
.tabs__item:hover,
.tabs__item:focus,
.tabs__item:active,
.tabs__item--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.tabs__item:active,
.tabs__item--active {
  background-color: #ffffff;
}
.main__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  width: 90%;
}
.content {
  flex-basis: 288px;
  flex-grow: 1;
  padding: 8px 13px 16px 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.content__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 110px;
  overflow: hidden;
  padding-bottom: 10px;
}
.content__wrap--full {
  height: auto;
}
.link {
  position: relative;
  padding-top: 10px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: #1b1c21;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.link:hover,
.link:focus {
  color: #7e7e82;
}
.link::before {
  content: url("../img/arrow-icon.svg");
  display: block;
  width: 75.5px;
  height: 10.3px;
  position: absolute;
  left: -26px;
}
.link--hide::before {
  transform: scaleY(-1) translateY(-12px);
}
.main__image {
  margin: 0 -5.5%;
  flex-basis: 320px;
  flex-grow: 1;
  height: 55vw;
}

@media (min-width: 768px) {
  .header__container,
  .main__wrap {
    width: 93.76%;
  }
  .navigation__list--user {
    display: flex;
    padding-right: 2px;
  }
  .button--menu::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    position: absolute;
    right: -22px;
    top: 4px;
  }
  .navigation__logo {
    margin-left: 26px;
  }
  .main__title,
  .main__tabs {
    margin-left: 3.12%;
  }
  .content {
    line-height: 20px;
  }
  .content__wrap {
    height: 195px;
    padding-top: 16px;
    line-height: 20px;
  }
  .main__image {
    margin: 40px 0 5px 35px;
    max-height: 27vw;
    border-radius: 6px;
  }
}
@media (min-width: 1120px) {
  .header__container,
  .main__wrap {
    width: 94.4%;
  }
  .header {
    padding: 0;
    background-color: #f8f8f8;
  }
  .button--menu,
  .navigation__logo,
  .navigation__list--user,
  .button--request::before {
    display: none;
  }
  .navigation__list--last {
    margin-left: auto;
    margin-top: 42px;
    z-index: 2;
  }
  .navigation__text {
    display: block;
  }
  .main {
    border: none;
  }
  .main__title {
    margin-top: -40px;
  }
  .main__title,
  .main__tabs {
    margin-left: 2.8%;
  }
  .tabs__list {
    flex-wrap: wrap;
    overflow: visible;
  }
  .content {
    padding-top: 0;
  }
  .main__image {
    margin: 5px 0 9px 0;
  }
  .content__wrap {
    padding-top: 0;
  }
}
